.client{
    margin-top:20px;
     width: 100%;
    
  }
.client ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.border2{
    width: 100px;
    height: 3px;
    background: #030120;
    margin: 120px auto;
  }

  .cls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cls img{
    width:200px;
    height:300px;
  }